{% extends 'base.html' %}

{% block title %} Edit your post {% endblock %}

{% block content %}
<h1>Change or Update</h1>
{%  if user.is_authenticated %}
    {% if user.id == post.author.id %}
   
<div>
    <form method="POST">
        
        {% csrf_token %}
        {{ form.media}}
        {{ form.as_p}}
        
        <button class="btn btn-light">Update</button>
        <a href="{% url 'delete-post' post.pk %}">Delete</a>

    </form>
</div>
    {% else%}
    <p>You have no permisson to modify this post</p>
    {% endif %}
{% endif %}
<a href="{% url 'home' %}" class="btn btn-success">Back</a>
 
{% endblock %}