{% extends 'base.html' %}

{% block content %}
<h1>Post</h1>
<ul>
{% for post in object_list %}
<li>   
    <a href="{% url 'blog-detail' post.pk %}">{{post.title}}</a>
    {{ post.author }} <br>
    <a href="{% url 'category' post.category|slugify|title %}">{{ post.category }}</a>
    {{ post.publication_date }} <br>
    {{ post.body|slice:":250" }}
    {%  if user.is_authenticated %}
    <a href="{% url 'update-post' post.pk %}">Edit</a>
    <a href="{% url 'delete-post' post.pk %}">Delete</a>
    {% endif %}
</li>
{% endfor %}
</ul>

{% endblock %}